@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: #FFF0F5;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

/* Remover contornos de foco em todos os elementos */
button, a, select, input, textarea {
  @apply focus:outline-none focus:ring-0;
}

button:focus-visible, a:focus-visible, select:focus-visible, input:focus-visible, textarea:focus-visible {
  @apply outline-none ring-0;
}

/* Sobrescrever estilos padrão do Vite que causam a borda azul */
button:hover {
  border-color: transparent !important;
}

button:focus,
button:focus-visible {
  outline: none !important;
}

a:hover {
  color: inherit;
}
